body{
    font-family: Helvetica, sans-serif;
    margin: 0;
    background-color: #262323;
}

header{
    border-bottom: 30px solid #e90f15;
    background-color: #f6f6f2;
    color: #262323;
}

header h1, header h2{
    padding-left: 30px;
    margin-top: 0;
}

header h1{
    padding-top: 20px;
}

main h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    color: #e90f15;
    
}

article{
    padding: 1em;
    margin: 30px;
    background-color: #f6f6f2;
}

h3{
    border-left: 4px solid #e90f15;
    padding-left: 4px;
}

footer{
    background-color: #e90f15;
    padding: 15px 30px;
    font-weight: bold;
}

a{
    margin-bottom: 1em;
    display: inline-block;
}

a:link, a:visited {
    color: White;
    background-color: Red;
    text-decoration: none;
    padding: 13px;
    border-radius: 15px;

}
a:hover {
    color: White;
    background-color: darkred;
    text-decoration: underline;
}